<!-- This was a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}

<h1>About Us</h1>

<p>
    It is said that man was once but a piece of clay till a soul <br>
    was breathed in him. Then he was commanded to breathe. Breathe.<br>
    And thus he did. <br>
    <p></p>
    He breathed. <br>
    <p></p>
    But man is a breathless being, constantly short of breath. Breathe.  <br>
    Man, lost in the physical, lost in the body, lost in the mud. Breathe. <br>
    <p></p>
    When will man exercise his spirit, acknowledge his soul? When will man <br>
    find himself in others, and love others to love himself? He will do so when <br>
    he breathes. So Breathe. For then there will be Rizz. So let there be Rizz. <br>
    <p></p>
    - The Grand Rizzard, Ahmed Alowmari
</p>

{% endblock %}