<!-- The About Us Page -->

{% extends 'base.html' %}

{% block body %}

<h1>About Us</h1>

<div class="card bg-warning mb-3" style="max-width: 20rem;">
    <div class="card-header text-white">Rizzelation 1:1-8</div>
    <div class="card-body">
        <sup>1</sup> It is said that man was once but a piece of clay till a soul was breathed within him. 
        <sup>2</sup> Then he was commanded to breathe: “Breathe” and thus he did; he breathed. 
        <sup>3</sup> But man is a breathless being, constantly short of breath. 
        <sup>4</sup> Man, lost in the physical, lost in the body, lost in the mud. 
        <sup>5</sup> When will man exercise his spirit, acknowledge his soul? 
        <sup>6</sup> When will man find himself in others, and love others to love himself? 
        <sup>7</sup> He will do so when he breathes; so breathe for then there will be Rizz.
        <sup>8</sup> So let there be Rizz.
    </div>
  </div>

  <p class="fs-6 text">In times of plague and peril, not only does the body become vulnerable, but so does the soul. Quarantine has impeded the social-emotional development of many, and I hope to make a community for those who want to build their social-emotional development.</p>
  <p class="fs-6 text">The rough plan is for an internet forum for online discussion where people can discuss their problems and approaches to emotional intelligence and social skills (all in the context of Rizz). Hopefully, through all the discourse, a “Book of Rizz” can develop which contains the discoveries and ideas founded by the community. </p>

{% endblock %}