{% extends 'base.html' %}

{% block body %}

{% if grandQuestion %}
    {{moment(grandQuestion.create_date).calendar()}} by {{grandQuestion.author.username}}
    {% if grandQuestion.modifydate %}
        modified {{moment(grandQuestion.modifydate).calendar()}}
    {% endif %}
    <br>

    {% if grandQuestion.author == current_user or current_user.email == "s_ahmed.alowmari@ousd.org" %}
        <a data-toggle="tooltip" data-placement="top" title="Delete Grand Question" href="/grandQuestion/delete/{{grandQuestion.id}}">
            <img width="40" class="bottom-image" src="/static/delete.png">
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Edit Grand Question" href="/grandQuestion/edit/{{grandQuestion.id}}">
            <img width="40" class="bottom-image" src="/static/edit.png">
        </a>
    {% endif %}
    <h1 class="display-5">{{grandQuestion.gQuestion}}</h1>
    <p class="fs-3 text-break">
        {% if grandQuestion.author.image %}
            <img width="120" class="img-thumbnail float-start me-2" src="data:image;base64,{{base64encode(grandQuestion.author.image.read())}}">
        {% endif %}

    </p>

    <!---------------------------------------------------Right Here--------------------------------------------------------->

    <!--warriors-->
    {% if comments %}
    <h1 class="display-5">Comments</h1>
    {% if current_user.cRizztriction == False %}
        <a href="/comment/new/{{grandQuestion.id}}" class="btn btn-warning btn-sm" role="button">New Comment</a>
    {% endif %}
    <p></p>
    {% for comment in comments %}
        {% if current_user == comment.author or current_user.email == "s_ahmed.alowmari@ousd.org" %}
            <a href="/comment/delete/{{comment.id}}"><img width="20" src="/static/delete.png"></a> 
            <a href="/comment/edit/{{comment.id}}"><img width="20" src="/static/edit.png"></a>
        {% endif %}
        {{moment(comment.create_date).calendar()}} {{comment.author.username}} 
        {% if comment.modifydate %}
            modified {{moment(comment.modifydate).calendar()}}
        {% endif %}
        <br>
        <p class="fs-6">
            {{comment.content}}
        </p>
    {% endfor %}
    {% else %}
        <h1 class="h4">No Comments</h1>
        {% if current_user.cRizztriction == False %}
            <a href="/comment/new/{{grandQuestion.id}}" class="btn btn-warning btn-sm" role="button">New Comment</a>
        {% endif %}
    {% endif %}
    <!------------------------------------------------------------------------------------------------------------------------->

{% else %}
    <h1 class="display-5">No Grand Question</h1>
{% endif %}
<br><br><br><br><br><br><br><br><br>
{% endblock %}
