<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<h1>How can I rizzpectfully ask the waiter for the check (with rizz)</h1>

<p>
    In the culinary world of pancake house restaurants, a waiter must move with the speed of 
    an athlete but with the elegance of a dancer. In such an intricate and physically demanding 
    dance, a waiter may not always be aware that you need the check. <br>
    <p></p>
    You need to first get their attention. But you have to do so in rhythm with the dance. Do not 
    shout at the waiter. Do not snap at the waiter. Do not throw anything at the waiter. A simple 
    hand raised will suffice. If you could do so in rhythm with the waiter, you will easily get 
    their attention. 
    <p></p>
    When you get their attention, use your hands to communicate that you need a check. 
    Personally, I like doing the "writing on the hand" to show that I need the check.
    <p></p>
    - The Grand Rizzard Ahmed Alowmari, Today at 9:13 AM 
</p>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}