{% extends 'base.html' %}

{% block body %}
<h1 class="display-1">
    My Profile
    <a href="/myprofile/edit"> 
        <img width="40" src="/static/edit.png">
    </a>
</h1>
<div class="row">
    <div class="col-2">
        {% if current_user.image %} 
            <img class="img-thumbnail img-fluid" src="data:image;base64,{{base64encode(current_user.image.read())}}"> <br>
        {% else %}
            <img class="img-thumbnail" width = "100" src="/static/bdog.png">
        {% endif %} 
    </div>
    <div class="col display-6">
        {% if current_user.fname and current_user.lname %}
            Name: {{current_user.fname}}  {{current_user.lname}} <br>
        {% else %}
            Google User Name: {{current_user.gname}} <br>
        {% endif %}
        Username: {{current_user.username}} <br>
        Email: {{current_user.email}} <br>
        Role: {{current_user.role}} <br>
        Purpose: {{current_user.purpose}} <br>
            {% if current_user.email == "s_ahmed.alowmari@ousd.org" %}
            <p></p>
            qRizztriction: {{current_user.qRizztriction}} <br>
            cRizztriction: {{current_user.cRizztriction}} <br>
            {% endif %}
        <p></p>
    </div>
</div>
<br>



{% endblock %}